# Segmenting and Clustering Neighborhoods in Toronto

Step 1: Scrape the fist table from the Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [3]:
import pandas as pd

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

headings = ['Postcode','Borough','Neighbourhood']

for table in tables:
    current_headings = table.columns.values[:3]
    if len(current_headings) != len(headings):
        continue
    if all(current_headings == headings):
        break

Step 2: Delete rows with a borough that is "Not assigned"

In [7]:
table = table[table.Borough != 'Not assigned']

Step 3: Combine rows with the same borough with a comma

In [8]:
table = table.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

Step 4: Change the cell that has a Not assigned neighborhood into its borough, i.e. Queen's Park

In [ ]:
table.loc[table.Neighbourhood == 'Not assigned', ['Neighbourhood']] = 'Queen''s Park'

Step 5: Print the number of rows of the dataframe

In [9]:
table.shape

(103, 3)

In [10]:
table

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]